@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.custom-header {
  background-color: #f4b71d;
  color: White;
}

.GameTitle{
  font-family: "Anton";
  font-weight: bold;
}

.Navigation .btn {
  font-size: 1rem;
  padding: 8px 16px;
  background-color: white;
  
}
.Navigation .btn:hover{
  background-color: #d96a04;
}
.Navigation .UserName{
  color: black;
}