.main {
    border: none;  
    padding: 0;    
    margin: 0; 
    width: 100vw;  
    height: 100vh;
}


.mainPageBody {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

.left, .right {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}

.left {
    flex-direction: column;
    background-color: #f4b71d;
    text-align: left;
    font-weight: bold;
    color: white;
}
.GameTitle{
    font-family: "Anton", serif;
    font-size: 10vw;
    padding-top: 0;
    padding-bottom: 0;
    
}

.Slogan{
    font-size: 1.5vw;
    margin-top: 10px;
}

.right {
    background-color: white;
    align-items: center;
    justify-content: left;
}
.login-box {
    width: 60%;
    max-width: 500px;
    text-align: center;
    padding: 3rem;            
    
}

.login-box h2 {
    font-size: 2vw;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: 2px transparent;
    border-radius: 20px;
    margin-top: 200px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
