@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.main {
    border: none;  
    padding: 0;    
    margin: 0; 
    width: 100vw;  
    height: 100vh;
}


.home-layout .mainPageBody {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

.home-layout .left, .right {
    flex: 1; 
    height: 100%;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}

.home-layout .left {
    flex-direction: column;
    background-color: #f4b71d;
    text-align: left;
    font-weight: bold;
    color: white;
}
.home-layout .GameTitle{
    font-family: "Anton", serif;
    font-size: 10vw;
    padding-top: 0;
    padding-bottom: 0;
    
}

.home-layout .Slogan{
    font-size: 1.5vw;
    margin-top: 10px;
}

.home-layout .right {
    background-color: white;
    align-items: center;
    justify-content: left;
}
.home-layout .login-box {
    width: 60%;
    max-width: 500px;
    text-align: center;
    padding: 3rem;            
    
}

.home-layout .login-box h2 {
    font-size: 2vw;
    
}

.home-layout input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.playerName {
    font-family: "Anton", serif;
    font-size: 1.75rem;
    align-self: center;
}